@use '@carbon/layout';
@use '@openmrs/esm-styleguide/src/vars' as *;
@use '@carbon/colors';

.wardView {
  display: flex;
  flex-direction: column;
}

.wardViewMain {
  background-color: #e4e4e4;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  display: grid;
  gap: layout.$spacing-05;

  &.verticalTiling {
    display: block;
    column-width: 280px;
    overflow-x: auto;
    height: calc(100% - 4rem);

    >div {
      break-inside: avoid;
      margin: layout.$spacing-03;
    }
  }
}

.wrapperContainer {
  margin: 0 layout.$spacing-05;
  border: colors.$gray-20 solid 1px;
  padding: 0;
  background-color: colors.$white;
}

.switcher {
  width: 150px;
  margin-right: layout.$spacing-03;
}